/* .responsive_footer {
    padding: 13px 14px 10px 14px;
    width: 100%;
}

.footer_list {
    padding: 0px 0px 0px 8px;
    justify-content: unset;
    gap: 37px;
}

.footer_link .home_link {
    width: 20px;
    height: 19px;
}

.footer_link .trending_link {
    width: 16px;
    height: 21px;
}

.footer_link .subs_link {
    width: 18px;
    height: 18px;
}

.footer_link .lib_link {
    width: 20px;
    height: 16px;
} */
