@import url(./base.css);
@import url(./reset.css);
@import url(./header.css);
@import url(./variables.css);

.wrapper {
    font-family: 'Mulish';
    display: flex;
    flex-direction: column;
    margin-left: 2em;


}

input {
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
}